<form [formGroup]="form" (ngSubmit)="analizadorLexer">
  <p-editor formControlName="codigo" [style]="{'height':'320px'}" placeholder="Esperando su código">
    <ng-template pTemplate="header">
        <span class="ql-formats">
          <h3 class="text-teal-700">Ingrese su código</h3> 
        </span>
    </ng-template>
  </p-editor>
  <div class="flex justify-content-center">
    <div class="mt-5 flex align-items-center justify-content-center">
      <button pButton pRipple type="button" label="Analizador Lexer" class="p-button-rounded" (click)="analizadorLexer()"></button>
    </div>
  </div>
</form>

<p-dialog header="Análisis Léxico" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
<p-table [value]="validaciones">
    <ng-template pTemplate="header">
        <tr>
            <th>Linea</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-linea>
        <tr>
            <td>{{linea}}</td>
        </tr>
    </ng-template>
</p-table>
        <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
</p-dialog>


