<form [formGroup]="form" (ngSubmit)="analizadorLexer">
  <p-editor formControlName="codigo" [style]="{'height':'320px'}" placeholder="Esperando su código">
    <ng-template pTemplate="header">
        <span class="ql-formats">
          <h3 class="text-teal-700">Ingrese su código</h3> 
        </span>
    </ng-template>
  </p-editor>
  <div class="flex justify-content-center">
    <div class="mt-5 flex align-items-center justify-content-center">
      <button pButton pRipple type="button" label="Analizador Lexer" class="p-button-rounded" (click)="analizadorLexer()"></button>
    </div>
  </div>
</form>
